@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;600&display=swap");
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 120px 1fr 60px;
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-template-columns: 1fr 440px 1fr;
  /*grid-template-rows: 1fr 1fr 1fr;*/
}

/*
body div {
  border: 1px solid yellow;
}
*/
.omak-logo img {
  margin-left: 100px;
  padding: 20px;
  width: 150px;
  height: 70px;
}
.omak-logo {
  grid-column: 1/4;
  border: 1px solid #ddd;
}
.login-box {
  /*border: 1px solid blue;  */
  background-color: white;
  /*width: 450px;*/
  box-shadow: 0 1px 2px 0 rgb(85 85 85);
}
/*
.login-box div {
  border: 1px solid blue;
}
*/
.temporary {
  margin-top: 10px;
  margin-bottom: 10px;
  /*margin-left: auto;
  margin-right: auto; */
  justify-content: center;
  align-items: center;
  grid-column: 2/3;

  /* min-width: 408px;
  max-width: 608px;  */
  display: flex;
  flex-direction: column;
}
.temporary input {
  width: 378px;
  height: 48px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

.additional-info {
  width: 378px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.boxgang {
  display: flex;
  width: 378px;
  height: 48px;
}

.boxgang input {
  width: 50px;
  margin-top: -15px;
}
.bottom {
  grid-column: 1/4;
  border: 1px solid #ddd;
  text-align: right;
}

.second-space {
  grid-column: 3/4;
  background-color: #eee;
}
.first-space {
  background-color: #eee;
}

.submit-bottom {
  font-weight: bold;
  background-color: #f6691e;
  color: white;
}

/*  0 1px 2px 0 rgb(85 85 85) */
